<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Festival-Mapper">
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and r_title like '%'||#{keyword}||'%'			
		</if>
		
		<if test="searchType == 'w'.toString()">
			and r_writer like '%'||#{keyword}||'%'			
		</if>
		
		<if test="searchType == 'c'.toString()">
			and r_content like '%'||#{keyword}||'%'			
		</if>
		
		<if test="searchType == 'tc'.toString()">
			and (
			r_title like '%'||#{keyword}||'%'
			or
			r_content like '%'||#{keyword}||'%'						
			)			
		</if>
		
		<if test="searchType == 'tcw'.toString()">
			and (
			r_title like '%'||#{keyword}||'%'
			or
			r_writer like '%'||#{keyword}||'%'
			or
			r_content like '%'||#{keyword}||'%'						
			)			
		</if>
	</sql>
	
	<select id="selectSearchFestivalList" resultType="festival">
		select *
		from FESTIVAL_LIST_CONTAIN_VOTE 
		where unq_id is not null
				<include refid="search"/>
		order by ${listSort} desc
	</select>
	
	<select id="selectSearchFestivalListCount" resultType="int">
		select count(*)
		from FESTIVAL_LIST_CONTAIN_VOTE 
		where unq_id is not null
			 <include refid="search"/>
	</select>
	
	<!-- 상세보기 -->
	<select id="selectFestival" resultType="festival">
		select *
		from FESTIVAL_LIST_CONTAIN_VOTE
		where fno=#{fno}
	</select>
	
	<select id="selectFestivalSeqNext" resultType="int">
		select brd_festival_seq.nextval from dual
	</select>
	
	<select id="selectUnqSeqNext" resultType="int">
		select three_board_seq.nextval from dual
	</select>
	<!--  -->
	<update id="insertFestival" parameterType="festival">
		insert into brd_festival
		values
		(#{unq_id}, #{fno},#{f_writer},#{f_title},sysdate,#{f_viewCnt}, #{f_content}, #{f_name}, #{f_location1}, #{f_location2},#{f_period}, #{f_org}, #{f_type})
	</update>
	
	<!--  -->
	<update id="updateFestival" parameterType="festival">
		update
		brd_festival
		set
		f_title=#{f_title}, f_content=#{f_content},  f_name=#{f_name},  f_location1=#{f_location1},  f_location2=#{f_location2},  f_period=#{f_period},  f_org=#{f_org},  f_type=#{f_type} 
		where fno=#{fno}
	</update>
	
	<update id="deleteFestival" parameterType="int">
		delete
		from brd_festival
		where fno=#{fno}
	</update>	
	
	<update id="increaseViewCnt" parameterType="int">
		update
		brd_festival
		set
		f_viewcnt = f_viewcnt + 1
		where fno=#{fno}
	</update>
</mapper>

    