<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="Follow-Mapper">
	
	<!-- 특정 회원이 팔로우 한 목록 -->
	<select id="selectFollowThis" resultType="int" >
		select count(*)
		from follow 
		where id=#{me} and follow=#{follow}
	</select>	
	
	<!-- 특정 회원이 팔로우 한 목록 -->
	<select id="selectFollow" resultType="member" >
		select m.*
		from follow f, member m
		where f.id=#{str} and f.follow=m.id
	</select>	
	
	<!-- 특정 회원을 팔로우 한 사람들 목록 -->
	<select id="selectFollowed" resultType="member">
		select m.*
		from follow f, member m
		where f.follow=#{str} and f.id=m.id
	</select>	
	
	
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- 팔로워가 작성한 3개 게시판의 모든 글들을 출력한다 -->
	<select id="followBoard" resultType="followBoard">
		select *
		from totalboard,
			(select distinct follow
		    from follow fo
		    where fo.id=#{str}) fo
        where totalboard.id = fo.follow
	</select>
		
	
	<!-- 팔로워가 작성한 3개 게시판의 모든 글들의 갯수를 카운트한다. -->
	<select id="f_WriteTotalCount" resultType="int">
		select count(*)
		from totalboard,
			(select distinct follow
		    from follow fo
		    where fo.id=#{str}) fo
        where totalboard.id = fo.follow
	</select>
	
	
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	<!-- 팔로워가 작성한 같이가요 게시판의 모든 글들을 출력한다. -->
	
	<select id="followWantGo" resultType="followBoard">
	select distinct f.fno,f.f_title,f.f_name,v.chkdate,m.nickname
		from (select follow
		      from follow
		      where id=#{str}) fo, vote v,member m,brd_festival f
		where fo.follow = v.id
        and fo.follow=m.id
        and v.UNQ_ID=f.unq_id
        and v.F_SEPERATE=1
	</select>
	
	<update id="deleteFollow">
	delete
	from follow
	where id = #{myId}
   		  and follow = #{id}
	</update>
	<update id="insertFollow">
	insert into follow
	values (#{me},#{follow})
	</update>
</mapper>
    
    
    
    
    
    
    
    
    
    
    