<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="MainPage-Mapper">
	
	<select id="selectFestivalListToMain" resultType="festival">
		select *
		from brd_festival
		order by f_regdate desc
	</select>
	
	<select id="selectReviewListToMain" resultType="review">
		select *
		from brd_review
		order by r_regdate desc
	</select>
	<!-- 가고싶어요 -->
	<select id="selectVote1ToMain" resultType="festival">
		select *
		from brd_festival
		order by vote1 desc
	</select>
	
	<!-- 좋아요 -->
	<select id="selectLikeToMain" resultType="review">
		select *
		from ReviewLikeStatus
		order by r_like desc
	</select>
	
</mapper>
