<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Utils-Mapper">
	
	<select id="selectLikeCount" resultType="int">
		select count(*)
		from R_like
		where unq_Id = #{unq_Id}
	</select>
	
	<select id="selectLikeHistory" resultType="int">
		select count(*)
		from R_like
		where id = #{id} and unq_Id = #{unq_Id}
	</select>
	
	<update id="addLike">
		insert into R_like
		values(#{id},#{unq_Id})
	</update>
	
	<update id="deleteLike">
		delete from R_like
		where id = #{id} and unq_Id = #{unq_Id}
	</update>
	
	<select id="selectReportList" resultType="report">
		select rpt_no,reporter,rpt_date,r.unq_id,type,bno,id,title
		from report r, totalboard t
		where r.unq_id=t.unq_id
		order by rpt_no desc
	</select>
	<update id="doReport">
		insert into report
		values(rpt_seq.nextval,#{reporter},#{unq_id},sysdate)
	</update>
	<update id="deleteReport">
		delete from report
		where unq_id=#{unq_id}
	</update>
	
	<select id="selectReportCommentList" resultType="reportC">
		select *
		from report_comment r, totalcomments c
		where r.c_no=c.c_no
		order by rpt_no_c desc
	</select>
	<update id="doReportComment">
		insert into report_comment
		values(rpt_comment_seq.nextval,#{reporter},#{c_no},sysdate)
	</update>
	<update id="deleteReportComment">
		delete from report_comment
		where unq_id=#{c_no}
	</update>
</mapper>
