<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="Vote-Mapper">
	<!-- f_seperate = 1 가고싶어요 -->
	<select id="WantGoVoteList" resultType="vote">
		select v.id, v.unq_id, bf.f_title, v.chkdate, v.f_seperate
		from vote v, brd_festival bf, member m
		where v.id=#{str} and v.id=m.id and v.unq_id=bf.unq_id
                and v.f_seperate=1
		order by bf.f_content desc
	</select>	
	
	
	
	<!-- f_seperate = 2(다녀왔어요) -->
	<select id="GoAndBackVoteList" resultType="vote">
		select v.id, v.unq_id, bf.f_title, v.chkdate, v.f_seperate
		from vote v, brd_festival bf, member m
		where v.id=#{str} and v.id=m.id and v.unq_id=bf.unq_id
                and v.f_seperate=2
		order by bf.f_content desc
	</select>	
	
	
	
	
	<select id="WantGoTotalCount" resultType="int">
		select count(*)
		from (	
			select v.id, bf.f_title, v.chkdate, v.f_seperate, v.unq_id
			from vote v, brd_festival bf, member m
			where v.id=#{str} and v.id=m.id and v.unq_id=bf.unq_id
	                and v.f_seperate=1
			order by bf.f_content desc
		)
	</select>
	
	
	
	<select id="GoAndBackTotalCount" resultType="int">
		select count(*)
		from (
			select v.id, bf.f_title, v.chkdate, v.f_seperate, v.unq_id
			from vote v, brd_festival bf, member m
			where v.id=#{str} and v.id=m.id and v.unq_id=bf.unq_id
	                and v.f_seperate=2
			order by bf.f_content desc
		)
	</select>
	
	
	
	
	
	<update id="deleteVote">
		delete 
		from vote
		where id=#{id} and unq_id=#{u_id}
	</update>
</mapper>
    
    
    
    
    
    
    
    
    
    
    